/* Общие стили */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #081c15; /* Темно-зеленый фон */
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота всего экрана */
    align-items: center; /* Центрирование содержимого по горизонтали */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #2c512f; /* Зеленый фон для контейнера */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Стили для секций */
.server-info,
.connection-data {
    margin-top: 20px;
    text-align: center; /* Центрирование текста */
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold; /* Жирный текст */
    background-color: #2c512f; /* Зеленый фон для заголовка */
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center; /* Центрирование текста по горизонтали */
}

p {
    color: #eee;
}

/* Стили для аватарки */
.avatar-container {
    text-align: center;
    margin-top: 20px;
}

.avatar-container img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Поместить footer внизу страницы */
}

a {
    color: #4CAF50;
}
